.allServices{
  margin-left: 530px;
  display: grid;
  grid-template-columns: repeat(2, 420px);
}
.contains{
  background-color:red;
  height: 120px;
  
}
.header-two{
  margin-top: 50px;
  margin-right: 20px;
}
.input-group{
  margin-top: 35px;
}

.footer{
  margin-top: 30px;
  margin-left: 400px;

  display: flex;
}
.textElement{
  width: 30%;
}
.high{
  height: 30px;
}
.lowerPart{
  background-color: black;
  height: 170px;
  color: white;
  margin-bottom: 0;
  display: flex;
}
.links{
  margin-left: 450px;
}
.phone{
  margin-left: 500px;
  color: aliceblue;
}