.location{
 width: 200px;
 height: 130px;
}

.segment{
 text-align: center;
}
.parent{
 display: flex;
 justify-content: center;
 margin-top: 138px;
 margin-bottom: 138px;
}
.first{
 text-align: center;
}
.first h3{
 margin-top: 28px;
}
#phone,#mail{
 margin-top: 20px;
 width: 100px;
 height: 80px;
}
#mail{
color: white;
}