#location,#phone,#mail,#openHours{
 width: 140px;
 height: 90px;
 color: red;
}

.segment{
 text-align: center;
 margin: 30px;
 width: 250px;
}
.parent{
 display: flex;
 justify-content: center;
 margin-top: 138px;
 margin-bottom: 138px;
}
.first,.second,.third,.fourth{
 text-align: center;
 background-color: rgba(235, 224, 224, 0.342);
}
